<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approvalLineMapper">
	<resultMap type="ApprovalLine" id="resultApprovalLine">
		<result property="lineId" column="LINE_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="lineName" column="LINE_NAME" />
		<result property="empId1" column="EMP_ID1" />
		<result property="empName1" column="EMP_NAME1" />
		<result property="posName1" column="POS_NAME1" />
		<result property="stampDate1" column="STAMP_DATE1" />
		
		<result property="empId2" column="EMP_ID2" />
		<result property="empName2" column="EMP_NAME2" />
		<result property="posName2" column="POS_NAME2" />
		<result property="stampDate2" column="STAMP_DATE2" />
		
		<result property="empId3" column="EMP_ID3" />
		<result property="empName3" column="EMP_NAME3" />
		<result property="posName3" column="POS_NAME3" />
		<result property="stampDate3" column="STAMP_DATE3" />
		
		<result property="empId4" column="EMP_ID4" />
		<result property="empName4" column="EMP_NAME4" />
		<result property="posName4" column="POS_NAME4" />
		<result property="stampDate4" column="STAMP_DATE4" />
	</resultMap>
	
	<select id="selectMyApprovalLine" parameterType="_int" resultMap="resultApprovalLine">
		select * from approvalline
		where line_id = #{ lineId }
	</select>
	
	
</mapper>