<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<resultMap type="Board" id="resultBoardJoin">
		<result property="depId" column="DEP_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardDetail" column="BOARD_DETAIL" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="deleteDate" column="DELETE_DATE" />
		<result property="viewsNum" column="VIEWS_NUM" />
		<result property="empName" column="EMP_NAME" />
		<result property="depName" column="DEP_NAME" />
	</resultMap>
	
	<resultMap type="Board" id="resultBoard">
		<result property="depId" column="DEP_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardDetail" column="BOARD_DETAIL" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="deleteDate" column="DELETE_DATE" />
		<result property="viewsNum" column="VIEWS_NUM" />
	</resultMap>
	
	<resultMap type="BoardUpload" id="resultBoardUpload">
		<result property="uploadId" column="UPLOAD_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="uploadUrl" column="UPLOAD_URL" />
		<result property="renameUrl" column="RENAME_URL" />
	</resultMap>
	
	<select id="selectBoardListCount" resultType="_int">
		select count(*) from board
	</select>
	
	<select id="selectBoardList" parameterType="Paging" resultMap="resultBoardJoin">
		<![CDATA[
		select * 
		from (select rownum rnum, DEP_ID, BOARD_ID, EMP_ID, 
		           BOARD_TITLE, BOARD_DETAIL, CREATE_DATE, 
		           MODIFY_DATE, DELETE_DATE, VIEWS_NUM
		      from (select * 
		            from board
		            order by BOARD_ID desc))
		left join department using(DEP_ID)
		left join employee using(EMP_ID)
		where rnum >= 1 and rnum <= 10
		]]>
	</select>
	
	<select id="selectBoardSearch" parameterType="Paging" resultMap="resultBoardJoin">
		<![CDATA[
		select * 
		from (select rownum rnum, DEP_ID, BOARD_ID, EMP_ID, 
				   BOARD_TITLE, BOARD_DETAIL, CREATE_DATE, 
		           MODIFY_DATE, DELETE_DATE, VIEWS_NUM 
		      from (select * from board 
		           order by BOARD_ID desc)) 
		left join employee using(EMP_ID)
		where rnum >= #{ startRow } and rnum <= #{ endRow }
		]]>
	</select>
	
	<select id="selectBoard" parameterType="BoardKeyword" resultMap="resultBoardJoin">
		select *
		from (select * 
		      from board
		      where emp_id = #{empId} and dep_id = #{depId} and board_id = #{boardId})
		left join department using(DEP_ID)
		left join employee using(EMP_ID)
	</select>
	
	<select id="selectBoardListFile" parameterType="BoardKeyword" resultMap="resultBoardUpload">
		select * from UPLOAD_BOARD
		where DEP_ID = #{ depId } and BOARD_ID = #{ boardId }
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		insert into board 
		values (#{depId}, (select max(BOARD_ID) + 1 from board), 
		        #{empId}, #{boardTitle}, #{boardDetail}, 
		        default, null, null, 0)
	</insert>
	
	<insert id="insertUploadBoard" parameterType="BoardUpload">
		insert into upload_board 
		values ((select max(UPLOAD_ID) + 1 from upload_board), 
		        #{depId}, #{boardId}, #{uploadUrl}, #{renameUrl})
	</insert>
	
	<update id="updateBoardViewNum" parameterType="BoardKeyword">
		update board set
		VIEWS_NUM = VIEWS_NUM + 1
		where DEP_ID = #{ depId } and BOARD_ID = #{ boardId }
	</update>
	
	<update id="updateUploadBoard" parameterType="Board">
		update upload_board set 
		UPLOAD_URL = #{ originFile },
		RENAME_URL = #{ renameFile }
		where DEP_ID = #{ depId } 
		and BOARD_ID = #{ boardId }
	</update>
	
	<update id="updateBoard" parameterType="Board">
		update board set
		BOARD_TITLE = #{ boardTitle },
		BOARD_DETAIL = #{ boardDetail },
		MODIFY_DATE = sysdate
		where DEP_ID = #{ depId }
		and BOARD_ID = #{ boardId }
	</update>
	
	<select id="deleteBoard" parameterType="_int">
	</select>	
	

</mapper>






