<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	<resultMap type="Employee" id="resultEmployee">
		<result property="empId" column="EMP_ID" />
		<result property="empPwd" column="EMP_PWD" />
		<result property="empPwdUpdate" column="EMP_PWD_UPDATE" />
		<result property="empName" column="EMP_NAME" />
		<result property="phone" column="PHONE" />
		<result property="empBirth" column="EMP_BIRTH" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="salary" column="SALARY" />
		<result property="profile" column="PROFILE" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="mdifyDate" column="MODIFY_DATE" />
		<result property="leaveDate" column="LEAVE_DATE" />
		<result property="lastDate" column="LAST_DATE" />
		<result property="jobId" column="JOB_ID" />
		<result property="posId" column="POS_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="loginOk" column="LOGIN_OK" />
		<result property="adminYN" column="ADMIN_YN" />
	</resultMap>

	<select id="selectEmployee" parameterType="_int" resultMap="resultEmployee">
		select * from employee where emp_id = #{ empId } 
	</select>
	
	<select id="selectEmployeeList" parameterType="Paging" resultMap="resultEmployee">
		select *
		from (select rownum rnum, EMP_ID, EMP_PWD, EMP_PWD_UPDATE, EMP_NAME, PHONE, 
			  EMP_BIRTH, EMAIL, ADDRESS, SALARY , PROFILE, ENROLL_DATE ,MODIFY_DATE  , LEAVE_DATE, JOB_ID, POS_ID, LOGIN_OK, ADMIN_YN
		from (select * from employee where ADMIN_YN = 'N'))
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from employee
	</select>
	
	<insert id="insertEmployee" parameterType="Employee">
		insert into employee
		values ((select max(empId) + 1 from notice), 
				#{empName}, #{phone}, #{empBirth}, 
				#{email}, #{address}, #{enrollDate} , #{jobId},  
				#{posId},#{depId},#{loginOk},#{adminYN})
				
	</insert>
	

</mapper>
