<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employeeMapper">
	<resultMap type="Employee" id="resultEmployee">
		<result property="empId" column="EMP_ID" />
		<result property="empPwd" column="EMP_PWD" />
		<result property="empPwdUpdate" column="EMP_PWD_UPDATE" />
		<result property="empName" column="EMP_NAME" />
		<result property="phone" column="PHONE" />
		<result property="empBirth" column="EMP_BIRTH" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="salary" column="SALARY" />
		<result property="profile" column="PROFILE" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="mdifyDate" column="MODIFY_DATE" />
		<result property="leaveDate" column="LEAVE_DATE" />
		<result property="lastDate" column="LAST_DATE" />
		<result property="jobId" column="JOB_ID" />
		<result property="posId" column="POS_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="jobName" column="JOB_NAME" />
		<result property="posName" column="POS_NAME" />
		<result property="depName" column="DEP_NAME" />
		<result property="loginOk" column="LOGIN_OK" />
		<result property="adminYN" column="ADMIN_YN" />
	</resultMap>
  
  <resultMap type="Employee" id="resultEmployeeJoin">
		<result property="empId" column="EMP_ID" />
		<result property="empPwd" column="EMP_PWD" />
		<result property="empPwdUpdate" column="EMP_PWD_UPDATE" />
		<result property="empName" column="EMP_NAME" />
		<result property="phone" column="PHONE" />
		<result property="empBirth" column="EMP_BIRTH" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="salary" column="SALARY" />
		<result property="profile" column="PROFILE" />
		<result property="enrollDate" column="ENROLL_DATE" />
		<result property="mdifyDate" column="MODIFY_DATE" />
		<result property="leaveDate" column="LEAVE_DATE" />
		<result property="lastDate" column="LAST_DATE" />
		<result property="jobId" column="JOB_ID" />
		<result property="posId" column="POS_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="loginOk" column="LOGIN_OK" />
		<result property="adminYN" column="ADMIN_YN" />
		
		<result property="depName" column="DEP_NAME" />
		<result property="jobName" column="JOB_NAME" />
		<result property="posName" column="POS_NAME" />
	</resultMap>
	
 	<insert id="insertEmployee" parameterType="Employee">
  	insert into employee values(#{empId},
				 #{empPwd}, sysdate, #{empName},
				#{phone}, #{empBirth}, #{email} , #{address},#{salary},#{profile},  
				#{enrollDate},null,null,sysdate,
				#{jobId}, #{posId}, #{depId},  
				default, default)
	</insert>  

	<select id="selectEmployee" parameterType="_int" resultMap="resultEmployee">
		select * from employee 
		left join job using(JOB_ID)
  		left join position using(POS_ID)
  		left join department using(DEP_ID)	
		where emp_id = #{ empId }
	</select>
	
	<select id="selectEmployeeApproval" parameterType="_int" resultMap="resultEmployeeJoin">
		select * 
		from (select rownum rnum, sub.*
		      from (select *
		            from employee
		            where emp_id = #{ empId }) sub
		        )
		left join department using(dep_id)
		left join job using(JOB_ID)
		left join position using(pos_id)
	</select>
	
	<select id="selectEmployeeList" parameterType="Paging" resultMap="resultEmployee">
		select * 
		from (select rownum rnum, EMP_ID, EMP_PWD, EMP_PWD_UPDATE, EMP_NAME, PHONE, 
			  EMP_BIRTH, EMAIL, ADDRESS, SALARY , PROFILE, ENROLL_DATE ,MODIFY_DATE  , LEAVE_DATE, JOB_Name, POS_Name,dep_name, LOGIN_OK, ADMIN_YN
		from (select * from employee join job using(job_id) join position using(pos_id) join department using(dep_id)))
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from employee 
	</select>

	<select id="selectCheckId" parameterType="_int" resultType="_int">
		select count(EMP_ID) from employee where EMP_ID = #{ eid }
	</select> 
	
	<update id="updateEmployee" parameterType="Employee">
		update employee
		set phone = #{ PHONE }, email= #{EMAIL}, address = #{ ADDRESS }, JOB_ID = #{ jobId }, 
			POS_ID = #{ posId }, DEP_ID = {depId }
		where EMP_ID = #{ empId }
  	</update>

	<update id="myUpdateInfo" parameterType="Employee">
		update employee
		set phone = #{ phone },
			address = #{ address }
		where emp_id = #{ empId }
	</update>
	
  	<update id="myUpdateInfo2" parameterType="Employee">
		update employee
		set emp_pwd = #{ empPwd }, emp_pwd_update = sysdate, phone = #{ phone },
			address = #{ address }
		where emp_id = #{ empId }
	</update>
	
	<select id="selectSearchDeptCount" parameterType="string"  resultType="_int">
		select count(*) from employee 
		left join department using(dep_id)
		where DEP_NAME like '%' || #{ keyword} || '%'
	</select>
	
	<select id="selectSearchEmpCount" parameterType="string"  resultType="_int">
		select count(*) from employee 
		where EMP_NAME like '%' || #{ keyword} || '%'
	</select>
	
	<select id="selectSearchEmp" parameterType="Search" resultMap="resultEmployee">
		select * 
		from (select rownum rnum, EMP_ID, EMP_PWD, EMP_PWD_UPDATE, EMP_NAME, PHONE, 
			  EMP_BIRTH, EMAIL, ADDRESS, SALARY , PROFILE, ENROLL_DATE ,MODIFY_DATE  , LEAVE_DATE, JOB_Name, POS_Name,dep_name, LOGIN_OK, ADMIN_YN
		from (select * from employee left join job using(job_id) left join position using(pos_id) left join department using(dep_id)
			  where EMP_NAME like '%' || #{ keyword} || '%'))
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectSearchDept" parameterType="Search" resultMap="resultEmployee">
		select * 
		from (select rownum rnum, EMP_ID, EMP_PWD, EMP_PWD_UPDATE, EMP_NAME, PHONE, 
			  EMP_BIRTH, EMAIL, ADDRESS, SALARY , PROFILE, ENROLL_DATE ,MODIFY_DATE  , LEAVE_DATE, JOB_Name, POS_Name,dep_name, LOGIN_OK, ADMIN_YN
		from (select * from employee left join job using(job_id) left join position using(pos_id) left join department using(dep_id)
			  where DEP_NAME like '%' || #{ keyword} || '%'))
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
</mapper>
