<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inventoryMapper">
<resultMap type="Inventory" id="resultInventory">
		<result property="invenId" column="INVEN_ID" />
		<result property="bookId" column="BOOK_ID" />
		<result property="clientId" column="CLIENT_ID" />
		<result property="storeId" column="STORE_ID" />
		<result property="refundId" column="REFUND_ID" />
		<result property="prevInbenId" column="PREV_INVEN_ID" />
		<result property="increase" column="INCREASE" />
		<result property="currInven" column="CURR_INVEN" />
		<result property="invenDate" column="INVEN_DATE" />
		<result property="classify" column="CLASSIFY" />
		<result property="remark" column="REMARK" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="clientName" column="CLIENT_NAME" />
	</resultMap>
	
	<select id="selectGetListCount" resultType="_int">
		select count(*) from inventory
	</select>
	
	<select id="selectInventoryList" parameterType="Paging" resultMap="resultInventory">
		<![CDATA[
			SELECT *
			FROM (SELECT ROWNUM RNUM, INVEN_ID, BOOK_ID, CLIENT_ID, STORE_ID, REFUND_ID, 
				  PREV_INVEN_ID, INCREASE, CURR_INVEN, INVEN_DATE, CLASSIFY, REMARK, book_name, client_name 
			      FROM (SELECT * 
			      		FROM INVENTORY
			      		join client using (client_id)
			      		join book using (book_id)
			            ORDER BY INVEN_DATE DESC))
			WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
		]]>
	</select>
	
	<select id="selectInventoryBookName" parameterType="_int" resultType="string">
		SELECT BOOK_NAME
		FROM  BOOK
		WHERE BOOK_ID= #{ bookId }
	</select>
	
	<select id="selectInventoryClientName" parameterType="_int"  resultType="string">
		SELECT CLIENT_NAME
		FROM CLIENT
		WHERE CLIENT_ID = #{ clientId }
	</select>
	
	<select id="selectGetDateListCount" parameterType="Search" resultMap="resultInventory">
		SELECT *
		FROM INVENTORY
		WHERE INVEN_DATE BETWEEN #{ startRow } AND #{ endRow }
	</select>
	
	<select id="selectInventoryCountByDate" parameterType="Search" resultType="_int">
		SELECT COUNT(*) FROM INVENTORY
		WHERE INVEN_DATE BETWEEN #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
	</select>
	
	<select id="selectInventoryByDate" parameterType="Search" resultMap="resultInventory">
		<![CDATA[
		SELECT *
		FROM (SELECT ROWNUM RNUM, INVEN_ID, BOOK_ID,  CLIENT_ID, STORE_ID, REFUND_ID, PREV_INVEN_ID, 
		                            INCREASE, CURR_INVEN, INVEN_DATE, CLASSIFY, REMARK, BOOK_NAME, CLIENT_NAME
		            FROM (SELECT *
		                        FROM INVENTORY
		                        LEFT JOIN CLIENT USING (CLIENT_ID)
		                        LEFT JOIN BOOK USING (BOOK_ID)   
		                        WHERE INVEN_DATE BETWEEN #{ begin } AND (TO_DATE(#{ end }) + 1 - 1/86400)))
		WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }
		ORDER BY INVEN_DATE DESC
		]]>
	</select>
	<select id="selectSearchKeyword" parameterType="string" resultMap="resultInventory">
		SELECT *
		FROM INVENTORY
		JOIN BOOK USING (BOOK_ID)
		WHERE BOOK_NAME LIKE '%' || #{ keyword } || '%'
		ORDER BY INVEN_DATE
	</select>

	<select id="selectInventoryCountBybookId" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM INVENTORY
		JOIN BOOK USING (BOOK_ID)
		WHERE BOOK_ID LIKE '%' || #{ keyword } || '%'
	</select>
	
	<select id="selectInventoryCountBybookName" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM INVENTORY
		JOIN BOOK USING (BOOK_ID)
		WHERE BOOK_NAME LIKE '%' || #{ keyword } || '%'
	</select>
	
	<select id="selectInventoryCountBystorageName" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM CLIENT
		JOIN INVENTORY using (CLIENT_ID)
		WHERE CLIENT_NAME LIKE '%' || #{ keyword } || '%'
	</select>
	
	<select id="selectInventoryCountBystore" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM INVENTORY
		WHERE CLASSIFY LIKE #{ keyword }
	</select>
	
	<select id="selectInventoryCountByrelease" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM INVENTORY
		WHERE CLASSIFY LIKE #{ keyword }
	</select>
	
	<select id="selectInventoryCountByrefund" parameterType="Search" resultType="_int" >
		SELECT COUNT(*)
		FROM INVENTORY
		WHERE CLASSIFY LIKE #{ keyword }
	</select>
	
	<select id="selectInventoryBybookId" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT *
			FROM(SELECT ROWNUM RUM, SUB.*
			            FROM(SELECT * FROM INVENTORY
	                        WHERE BOOK_ID LIKE '%' || #{ keyword } || '%'
	                        ORDER BY BOOK_ID DESC) SUB)
			LEFT JOIN BOOK USING (BOOK_ID)
			LEFT JOIN CLIENT USING (CLIENT_ID)
			WHERE RUM >= #{ startRow } AND RUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectInventoryBybookName" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT *
			FROM (SELECT ROWNUM RUM, SUB.*
		           FROM (SELECT * FROM INVENTORY
                               LEFT JOIN BOOK USING (BOOK_ID)
                              LEFT JOIN CLIENT USING (CLIENT_ID)
                                WHERE BOOK_NAME LIKE '%' || #{ keyword } || '%'
                                ORDER BY BOOK_ID DESC) SUB)
			WHERE RUM >= #{ startRow } AND RUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectInventoryBystorageName" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT * FROM(SELECT ROWNUM RUM, SUB.*
			FROM(SELECT *FROM INVENTORY
				LEFT JOIN BOOK USING (BOOK_ID)
                LEFT JOIN CLIENT USING (CLIENT_ID)
                WHERE CLIENT_NAME LIKE '%' || #{ keyword } || '%'
                ORDER BY BOOK_ID DESC) SUB)
			WHERE RUM >= #{ startRow } AND RUM <= #{ endRow }
		]]>
	</select>
	
		<select id="selectInventoryBystore" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT *
			FROM INVENTORY
			WHERE CLASSIFY = '입고'
		]]>
	</select>
	
	<select id="selectInventoryByrelease" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT *
			FROM INVENTORY
			WHERE CLASSIFY = '출고'
		]]>
	</select>
	
	<select id="selectInventoryByrefund" parameterType="Search" resultMap="resultInventory" >
		<![CDATA[
			SELECT *
			FROM INVENTORY
			WHERE CLASSIFY = '반품'
		]]>
	</select>
</mapper>