<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="publishMapper">
	<!-- Contract 계약 resultMap -->
	<resultMap type="Contract" id="resultContract">
		<result property="contrId" column="CONTR_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="writerId" column="WRITER_ID" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="empName" column="EMP_NAME" />
		<result property="contrDate" column="CONTR_DATE" />
		<result property="contrDoc" column="CONTR_DOC" />
		<result property="contrState" column="CONTR_STATE" />
		<result property="writerName" column="WRITER_NAME" />
	</resultMap>
	
	<resultMap type="Writer" id="resultWriterJoin">
		<result property="writerId" column="WRITER_ID" />
		<result property="writerName" column="WRITER_NAME" />
		<result property="phone" column="PHONE" />
		<result property="writerBirth" column="WRITER_BIRTH" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="bank" column="BANK" />
		<result property="account" column="ACCOUNT" />
	</resultMap>
	
	
	
	<!-- Edit 편집 resultMap -->
	<resultMap type="Edit" id="resultEdit">
		<result property="editId" column="EDIT_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="editState" column="EDIT_STATE" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="depName" column="DEP_NAME" />
	</resultMap>
	
	
	
	<!-- Book 도서 resultMap -->
	<resultMap type="Book" id="resultBook">
		<result property="bookId" column="BOOK_ID" />
		<result property="writerId" column="WRITER_ID" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="writerName" column="WRITER_NAME" />
		<result property="bookPriceS" column="BOOK_PRICE_S" />
		<result property="bookPriceR" column="BOOK_PRICE_R" />
		<result property="bookPrice" column="BOOK_PRICE" />
		<result property="category" column="CATEGORY" />
		<result property="isbn" column="ISBN" />
		<result property="bookState" column="BOOK_STATE" />
		<result property="engraving" column="ENGRAVING" />
		<result property="pubDate" column="PUB_DATE" />
		<result property="regDate" column="REG_DATE" />
	</resultMap>



	<!-- Writer 작가 resultMap -->
	<resultMap type="Writer" id="resultWriter">
		<result property="writerId" column="WRITER_ID" />
		<result property="writerName" column="WRITER_NAME" />
		<result property="phone" column="PHONE" />
		<result property="writerBirth" column="WRITER_BIRTH" />
		<result property="email" column="EMAIL" />
		<result property="address" column="ADDRESS" />
		<result property="bank" column="BANK" />
		<result property="account" column="ACCOUNT" />
	</resultMap>



	<!-- Contract 계약 -->
	<select id="selectContractListCount" resultType="_int">
		select count(*) from contract
	</select>
	
	<select id="selectContractList" parameterType="Paging" resultMap="resultContract">
		select *
		from (select rownum rnum, sub.*
			  from (select * from contract
			  		left join writer using(WRITER_ID)
					order by contr_id desc) sub)
		where rnum between #{ startRow } and #{ endRow } 
	</select>
	
	<select id="selectContractSearch" parameterType="Paging" resultMap="resultWriterJoin">
		<![CDATA[
			select * 
			from (select rownum rnum, CONTR_ID, EMP_ID, WRITER_ID, 
					   BOOK_NAME, EMP_NAME, CONTR_DATE, 
			           CONTR_DOC, CONTR_STATE 
			      from (select * from contract 
			           order by BOARD_ID desc)) 
			left join writer using(WRITER_NAME)
			where rnum >= #{ startRow } and rnum <= #{ endRow }
		]]>
	</select>
	
	<select id="selectContract" parameterType="_int" resultMap="resultContract">
		select * 
		from contract
		left join book using(CETEGORY)
		where contract_id = #{ contractId }
	</select>
	
	<insert id="insertContract" parameterType="Contract">
		insert into contract 
		values ((select max(CONTR_ID) + 1 from contract), 
		        #{ empId }, #{ writerId }, #{ bookName }, 
		        #{ empName }, #{ contrDate }, null, default, #{ category })
	</insert>
	
	<update id="updateContract" parameterType="_int">
		update contract
		set contr_id = #{ contrId }, emp_id = #{ empId }, 
			writer_id = #{ writerId }, book_name = #{ bookName },
			emp_name = #{ empName }, contr_date = #{ contrDate },
			contr_doc = #{ contrDoc }, contr_state = #{ contrState }
		where contr_id = #{ contrId }
	</update>
	
	<select id="deleteContract" parameterType="_int">
		delete from contract
		where contr_id = #{ contrId }
	</select>
		
		
		
	<!-- Edit 편집 -->
	<select id="selectEditList" parameterType="Paging" resultMap="resultEdit">
		select *
		from (select rownum rnum, sub.*
			  from (select * from edit
			  		left join department using(DEP_ID)
					order by edit_id desc, dep_id desc) sub)
		where rnum between #{ startRow } and #{ endRow } 
	</select>
	
	<select id="selectEdit" parameterType="_int" resultMap="resultEdit">
		select * 
		from edit
		where edit_id = #{ editId }
	</select>
	
	<select id="selectEditListCount" resultType="_int">
		select count(*) from edit
	</select>
	
	
	
	<!-- Book 도서 -->
	<select id="selectBookList" parameterType="Paging" resultMap="resultBook">
		select *
		from (select rownum rnum, sub.*
			  from (select * from book
					order by book_id desc) sub)
		where rnum between #{ startRow } and #{ endRow } 
	</select>
	
	<select id="selectBook" parameterType="_int" resultMap="resultBook">
		select * 
		from book
		where book_id = #{ bookId }
	</select>
	
	<select id="selectBookListCount" resultType="_int">
		select count(*) from book
	</select>
	
	<insert id="insertBook" parameterType="Book">
		insert into Book 
		values ((select max(BOOK_ID) + 1 from book), 
		        #{ writerId }, #{ bookName }, #{ writerName }, 
		        null, null, #{ bookPrice }, #{ category }, #{ isbn },
		        #{ bookState }, #{ engraving }, null, #{ regDate })
	</insert>
	
	<!-- Writer 작가 -->
	<select id="selectWriterList" parameterType="Paging" resultMap="resultWriter">
		select *
		from (select rownum rnum, sub.*
			  from (select * from writer
					order by writer_id desc) sub)
		where rnum between #{ startRow } and #{ endRow } 
	</select>
	
	<select id="selectWriter" parameterType="_int" resultMap="resultWriter">
		select * 
		from writer
		where writer_id = #{ writerId }
	</select>
	
	<select id="selectWriterListCount" resultType="_int">
		select count(*) from writer
	</select>
	
	<insert id="insertWriter" parameterType="Writer">
		insert into Writer 
		values ((select max(WRITER_ID) + 1 from Writer), 
		        #{ writerName }, #{ phone }, #{ writerBirth }, 
		        #{ Email }, #{ address }, #{ bank }, #{ account })
	</insert>
</mapper>