<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="replyMapper">

	<resultMap type="Reply" id="resultReply">
		<result property="replyId" column="REPLY_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="bundleId" column="BUNDLE_ID" />
		<result property="bundleId2" column="BUNDLE_ID2" />
		<result property="parentId" column="PARENT_ID" />
		<result property="depth" column="DEPTH" />
		<result property="replyDetail" column="REPLY_DETAIL" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="deleteDate" column="DELETE_DATE" />
	</resultMap>
	
	<resultMap type="Reply" id="resultReplyJoin">
		<result property="replyId" column="REPLY_ID" />
		<result property="depId" column="DEP_ID" />
		<result property="boardId" column="BOARD_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="bundleId" column="BUNDLE_ID" />
		<result property="bundleId2" column="BUNDLE_ID2" />
		<result property="parentId" column="PARENT_ID" />
		<result property="depth" column="DEPTH" />
		<result property="replyDetail" column="REPLY_DETAIL" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="deleteDate" column="DELETE_DATE" />
		<result property="empName" column="EMP_NAME" />
		<result property="profile" column="PROFILE" />
	</resultMap>
	
	<resultMap type="ReplyUpload" id="resultReplyUpload">
		<result property="uploadId" column="UPLOAD_ID" />
		<result property="replyId" column="REPLY_ID" />
		<result property="uploadUrl" column="UPLOAD_URL" />
		<result property="renameUrl" column="RENAME_URL" />
	</resultMap>
	
	<resultMap type="Reply" id="resultReplyEmp">
		<result property="empId" column="EMP_ID" />
		<result property="empName" column="EMP_NAME" />
	</resultMap>
	
	
	<select id="selectReplyListCount" parameterType="ReplyKeyword" resultType="_int">
		select count(*) from reply 
		where BOARD_ID = ${boardId} 
		and DEP_ID = ${depId} 
	</select>
	
	<select id="selectReplyMaxCount" resultType="_int">
		select max(REPLY_ID) from reply
	</select>
	
	<select id="selectReplyList" parameterType="ReplyKeyword" resultMap="resultReplyJoin">
	
	select * 
	from reply 
	left join employee USING(EMP_ID) 
	where BUNDLE_ID in    
	     (select REPLY_ID 
	      from (select rownum rnum, REPLY_ID, DEP_ID, BOARD_ID, EMP_ID, BUNDLE_ID, 
	      		BUNDLE_ID2, PARENT_ID, DEPTH, REPLY_DETAIL, CREATE_DATE, 
	      		MODIFY_DATE, DELETE_DATE
	            from (select * from reply where BOARD_ID = ${ boardId } and DEP_ID = ${ depId } ) 
	            )
	      ) 
	order by BUNDLE_ID desc, DEPTH asc, BUNDLE_ID2 desc, REPLY_ID desc
		
	</select>
	
	<select id="selectReplyEmpName" parameterType="_int" resultType="string">
		select EMP_NAME
		from reply 
		left join employee USING(EMP_ID)
		where REPLY_ID = #{ replyId } 
	</select>
	
	<select id="selectReplyRecent" resultMap="resultReplyJoin">
		select * from reply
		left join employee USING(EMP_ID)
		where REPLY_ID = (select max(REPLY_ID) from reply)
	</select>
	
	<select id="selectReplyListFile" parameterType="_int" resultMap="resultReplyUpload">
		select * from UPLOAD_REPLY
		where REPLY_ID = #{ replyId }
	</select>
	
	<insert id="insertReply" parameterType="Reply">
	     insert into reply values
	    ((select max(REPLY_ID) + 1 from reply), #{ depId }, #{ boardId }, #{ empId },
	     #{ bundleId }, #{ bundleId2 }, #{ parentId }, #{ depth },
	     #{ replyDetail }, default, null, null)
	</insert>
	
	<insert id="insertReply2" parameterType="Reply">
	     insert into reply values
	    ((select max(REPLY_ID) + 1 from reply), #{ depId }, #{ boardId }, #{ empId },
	     (select max(REPLY_ID) + 1 from reply), 
	     (select max(REPLY_ID) + 1 from reply), 
		 (select max(REPLY_ID) + 1 from reply), #{ depth },
	     #{ replyDetail }, default, null, null)
	</insert>
	
	<insert id="insertUploadReply" parameterType="ReplyUpload">
		insert into upload_reply values 
		((select max(UPLOAD_ID) + 1 from upload_reply), #{ replyId }, #{ uploadUrl }, #{ renameUrl } )
	</insert>
	
</mapper>






