<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="salesMapper">

	<resultMap type="BookOrder" id="resultBookOrder">
		<result property="tradeId" column="TRADE_ID" />
		<result property="bookId" column="BOOK_ID" />
		<result property="clientId" column="CLIENT_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="orderQuantity" column="ORDER_QUANTITY" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="state" column="STATE" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="bookPrice" column="BOOK_PRICE" />
		<result property="bookStoreName" column="CLIENT_NAME" />
	</resultMap>
	
	<resultMap type="Sales" id="resultSales">
		<result property="tradeId" column="TRADE_ID" />
		<result property="bookId" column="BOOK_ID" />
		<result property="clientId" column="CLIENT_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="orderQuantity" column="ORDER_QUANTITY" />
		<result property="orderDate" column="ORDER_DATE" />
		<result property="state" column="STATE" />
		<result property="classify" column="CLASSIFY" />
		<result property="collectedAmount" column="COLLECTED_AMOUNT" />
		<result property="collectDate" column="COLLECT_DATE" />
	</resultMap>
	
	<resultMap type="BookForSales" id="resultBook">
		<result property="bookId" column="BOOK_ID" />
		<result property="writerId" column="WRITER_ID" />
		<result property="bookName" column="BOOK_NAME" />
		<result property="writerName" column="WRITER_NAME" />
		<result property="bookPriceS" column="BOOK_PRICE_S" />
		<result property="bookPriceR" column="BOOK_PRICE_R" />
		<result property="bookPrice" column="BOOK_PRICE" />
		<result property="category" column="CATEGORY" />
		<result property="isbn" column="ISBN" />
		<result property="bookState" column="BOOK_STATE" />
		<result property="engraving" column="ENGRAVING" />
		<result property="pubDate" column="PUB_DATE" />
		<result property="regDate" column="REG_DATE" />
	</resultMap>
	
	<resultMap type="BookStore" id="resultBookStore">
		<result property="clientId" column="CLIENT_ID" />
		<result property="category" column="CATEGORY" />
		<result property="clientName" column="CLIENT_NAME" />
		<result property="clientAddress" column="CLIENT_ADDRESS" />
		<result property="clientContact" column="CLIENT_CONTACT" />
		<result property="eid" column="EID" />
		<result property="clientUrl" column="CLIENT_URL" />
		<result property="manager" column="MANAGER" />
		<result property="managerContact" column="MANAGER_CONTACT" />
		<result property="managerEmail" column="MANAGER_EMAIL" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
	</resultMap>
	
	<resultMap type="Client" id="resultClient">
		<result property="clientId" column="CLIENT_ID" />
		<result property="category" column="CATEGORY" />
		<result property="clientName" column="CLIENT_NAME" />
		<result property="clientAddress" column="CLIENT_ADDRESS" />
		<result property="clientContact" column="CLIENT_CONTACT" />
		<result property="eid" column="EID" />
		<result property="clientUrl" column="CLIENT_URL" />
		<result property="manager" column="MANAGER" />
		<result property="managerContact" column="MANAGER_CONTACT" />
		<result property="managerEmail" column="MANAGER_EMAIL" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
	</resultMap>
	
	<select id="selectBookOrderCountByDate" parameterType="Search" resultType="_int">
		select count(*) from trade
		where order_date between #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
			  and classify = '주문'
	</select>
	
	<select id="selectBookOrderByDate" parameterType="Search" resultMap="resultBookOrder">
		select *
		from (select rownum rnum, sub.*
			  from (select * from trade
			  		join book using (book_id)
			  		join client using (client_id)
					where order_date between #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
						  and classify = '주문'
					order by order_date desc, trade_id desc) sub)
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectSalesCountByDate" parameterType="Search" resultType="_int">
		select count(*) from trade
		where order_date between #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
			  and classify = '판매'
	</select>
	
	<select id="selectSalesListByDate" parameterType="Search" resultMap="resultSales">
		select *
		from (select rownum rnum, sub.*
			  from (select * from trade
					where order_date between #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
						  and classify = '판매'
					order by order_date desc, trade_id desc) sub)
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectBook" parameterType="_int" resultMap="resultBook">
		select * from book
		where book_id = #{ bookId }
	</select>
	
	<select id="selectBookStore" parameterType="_int" resultMap="resultBookStore">
		select * from client
		where client_id = #{ clientId }
	</select>
	
	<select id="selectClientListCount" resultType="_int">
		select count(*) from client
	</select>
	
	<select id="selectClientList" parameterType="Paging" resultMap="resultClient">
		select *
		from (select rownum rnum, sub.*
			  from (select * from client
					order by start_date desc, client_id desc) sub) 
		where rnum between #{ startRow } and #{ endRow } 
	</select>
	
	<insert id="insertBookOrder" parameterType="BookOrder">
		insert into trade
		values (
			decode((select count(trade_id) from trade), 0, 1, (select max(trade_id) + 1 from trade)),
			#{ bookId }, #{ clientId }, #{ empId }, #{ empName }, #{ orderQuantity },
			sysdate, #{ state }, default, default, '주문')
	</insert>
	
	<update id="updateBookOrder" parameterType="BookOrder">
		update trade
		set order_quantity = #{ orderQuantity },
			state = #{ state }
		where trade_id = #{ tradeId }
	</update>
	
	<delete id="deleteBookOrder" parameterType="_int">
		delete from trade
		where trade_id = #{ tradeId }
	</delete>
	
	<insert id="insertClient" parameterType="Client">
		insert into client
		values (
			<if test="category == '서점'">
				decode((select count(client_id) from client where client_id like '1____'),
				0, 10001,
				(select max(client_id)+1 from client where client_id like '1____')),
			</if>
			<if test="category == '인쇄소'">
				decode((select count(client_id) from client where client_id like '2____'),
				0, 20001,
				(select max(client_id)+1 from client where client_id like '2____')),
			</if>
			<if test="category == '창고'">
				decode((select count(client_id) from client where client_id like '3____'),
				0, 30001,
				(select max(client_id)+1 from client where client_id like '3____')),
			</if>
			#{ category }, #{ clientName }, #{ clientAddress }, #{ clientContact }, #{ eid },
			#{ clientUrl }, #{ manager }, #{ managerContact }, #{ managerEmail }, #{ startDate }, #{ endDate }
		)
	</insert>
	
	<update id="updateClient" parameterType="Client">
		update client
		set category = #{ category }, client_name = #{ clientName },
			client_address = #{ clientAddress }, client_contact = #{ clientContact },
			eid = #{ eid }, client_url = #{ clientUrl }, manager = #{ manager },
			manager_contact = #{ managerContact }, manager_email = #{ managerEmail },
			start_date = #{ startDate }, end_date = #{ endDate }
		where client_id = #{ clientId }
	</update>
	
	<delete id="deleteClient" parameterType="_int">
		delete from client
		where client_id = #{ clientId }
	</delete>
	
	<select id="selectBookOrderCountByBook" parameterType="Search" resultType="_int">
		select count(*) from trade
		join book using (book_id)
		where book_name like '%' || #{ keyword } || '%'
			  and classify = '주문'
	</select>
	
	<select id="selectBookOrderCountByBookStore" parameterType="Search" resultType="_int">
		select count(*) from trade
		join client using (client_id)
		where client_name like '%' || #{ keyword } || '%'
			  and classify = '주문'
	</select>
	
	<select id="selectBookOrderCountByLocation" parameterType="Search" resultType="_int">
		select count(*) from trade
		join client using (client_id)
		where client_address like '%' || #{ keyword } || '%'
			  and classify = '주문'
	</select>
	
	<select id="selectBookOrderByBook" parameterType="Search" resultMap="resultBookOrder">
		select *
		from (select rownum rnum, sub.*
			  from (select * from trade
			  		join book using (book_id)
					where book_name like '%' || #{ keyword } || '%'
						  and classify = '주문'
					order by order_date desc, trade_id desc) sub)
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectBookOrderByBookStore" parameterType="Search" resultMap="resultBookOrder">
		select *
		from (select rownum rnum, sub.*
			  from (select * from trade
			  		join client using (client_id)
					where client_name like '%' || #{ keyword } || '%'
						  and classify = '주문'
					order by order_date desc, trade_id desc) sub)
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectBookOrderByLocation" parameterType="Search" resultMap="resultBookOrder">
		select *
		from (select rownum rnum, sub.*
			  from (select * from trade
			  		join client using (client_id)
					where client_address like '%' || #{ keyword } || '%'
						  and classify = '주문'
					order by order_date desc, trade_id desc) sub)
		where rnum between #{ startRow } and #{ endRow }
	</select>

</mapper>






