<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="storeMapper">
	<resultMap type="Store" id="resultStore">
		<result property="storeId" column="STORE_ID" />
		<result property="bookId" column="BOOK_ID" />
		<result property="storageId" column="STORAGE_ID" />
		<result property="empId" column="EMP_ID" />
		<result property="empName" column="EMP_NAME" />
		<result property="storeNum" column="STORE_NUM" />
		<result property="storePrice" column="STORE_PRICE" />
		<result property="storeDate" column="STORE_DATE" />
		<result property="classify" column="CLASSIFY" />
	</resultMap>
	
	<select id="selectGetListCount" resultType="_int">
		select count(*) from store
	</select>
	
	<select id="selectReleaseList" parameterType="Paging" resultMap="resultStore">
		<![CDATA[
			SELECT *
			FROM STORE
			WHERE SYSDATE - STORE_DATE <= 7 AND CLASSIFY = '출고'
		]]>	
	</select>
	
	<select id="selectStoreBookName" parameterType="_int" resultType="string">
		SELECT BOOK_NAME
		FROM BOOK
		WHERE BOOK_ID = 1
	</select>
	
	<select id="selectStoreClientName" parameterType="_int" resultType="string">
		SELECT CLIENT_NAME
		FROM CLIENT
		WHERE CLIENT_ID = #{ storageId }
	</select>
	
	<select id="selectStoreBookPrice" parameterType="_int" resultType="_int">
		SELECT BOOK_PRICE
		FROM BOOK
		WHERE BOOK_ID = #{ bookId }
	</select>
	
	<select id="selectStoreList" parameterType="Paging" resultMap="resultStore">
		<![CDATA[
			SELECT *
			FROM STORE
			WHERE SYSDATE - STORE_DATE <= 7 AND CLASSIFY = '입고'
		]]>	
	</select>
	
	<select id="selectStoreCountByDate" parameterType="Search" resultType="_int">
		SELECT COUNT(*) FROM STORE
		WHERE STORE_DATE #{ begin } and (to_date(#{ end }) + 1 - 1/86400) AND CLASSIFY = '입고'
	</select>
	
	<select id="selectStoreByDate" parameterType="Search" resultMap="resultStore">
		<![CDATA[
			SELECT *
			FROM (SELECT ROWNUM RNUM, STORE_ID, BOOK_ID, STORAGE_ID, EMP_ID, EMP_NAME, STORE_NUM, STORE_PRICE, STORE_DATE, CLASSIFY)
			            FROM (SELECT * FROM STORE
			                        WHERE STORE_DATE between #{ begin } and (to_date(#{ end }) + 1 - 1/86400)
			                        AND CLASSIFY = '입고'
			                        ORDER BY STORE_DATE DESC)
			WHERE RNUM between #{ startRow } and #{ endRow }
		]]>	
	</select>
	
	
	<delete id="deleteInventory" parameterType="Inventory">
		DELETE FROM INVENTORY WHERE PREV_INVEN_ID = #{ prevInvenId } AND STORE_ID = #{ storeId }
	</delete>
	
	<delete id="deleteStore" parameterType="Store">
		DELETE FROM STORE WHERE STORE_ID = #{ storeId }
	</delete>
</mapper>