<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스는 sql 구문에 사용되는 값이 NULL 이면 에러 발생함, NULL 을 사용할 수 있게 하려면 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.erl.pageflow.common.Search" alias="Search" />
		<typeAlias type="com.erl.pageflow.book.model.vo.Book" alias="Book" />
		
		<!-- 업무 게시판 게시글 -->
		<typeAlias type="com.erl.pageflow.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.erl.pageflow.common.Paging" alias="Paging" />
		<typeAlias type="com.erl.pageflow.common.BoardKeyword" alias="BoardKeyword" />
		
		<!-- 업무 게시판 댓글 -->
		<typeAlias type="com.erl.pageflow.reply.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.erl.pageflow.common.ReplyKeyword" alias="ReplyKeyword" />
		
		<!-- 영업관리 -->
		<typeAlias type="com.erl.pageflow.sales.model.vo.BookOrder" alias="BookOrder" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.Sales" alias="Sales" />
		
		<!-- 거래처 -->
		<typeAlias type="com.erl.pageflow.sales.model.vo.BookStore" alias="BookStore" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.Storage" alias="Storage" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.PrintOffice" alias="PrintOffice" />
		
		
		<typeAlias type="com.erl.pageflow.inventory.model.vo.Inventory" alias="Inventory" />
		<typeAlias type="com.erl.pageflow.refund.model.vo.Refund" alias="Refund" />
		
	</typeAliases>
	
	<mappers>
		<!-- 존재하지 않는 파일을 등록하면, 톰켓 구동 안 됨 -->
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/reply-mapper.xml" />
		<mapper resource="mappers/sales-mapper.xml" />
		<mapper resource="mappers/inventory-mapper.xml" />
		<mapper resource="mappers/refund-mapper.xml" />
	</mappers>
</configuration>








