<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스는 sql 구문에 사용되는 값이 NULL 이면 에러 발생함, NULL 을 사용할 수 있게 하려면 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.erl.pageflow.common.Search" alias="Search" />
		
		
		<!-- 직원 관리 -->
		<typeAlias type="com.erl.pageflow.employee.model.vo.Employee" alias="Employee" />
		<typeAlias type="com.erl.pageflow.employee.model.vo.Department" alias="Department" />
		
		<!-- 공지사항 -->
		<typeAlias type="com.erl.pageflow.notice.model.vo.Notice" alias="Notice" />
		
		<!-- 업무 게시판 게시글 -->
		<typeAlias type="com.erl.pageflow.board.model.vo.Board" alias="Board" />
		<typeAlias type="com.erl.pageflow.common.Paging" alias="Paging" />
		<typeAlias type="com.erl.pageflow.common.BoardKeyword" alias="BoardKeyword" />
		<typeAlias type="com.erl.pageflow.board.model.vo.BoardUpload" alias="BoardUpload" />
		
		<!-- 업무 게시판 댓글 -->
		<typeAlias type="com.erl.pageflow.reply.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.erl.pageflow.common.ReplyKeyword" alias="ReplyKeyword" />
		<typeAlias type="com.erl.pageflow.reply.model.vo.ReplyUpload" alias="ReplyUpload" />
		
		<!-- 영업관리 -->
		<typeAlias type="com.erl.pageflow.sales.model.vo.BookOrder" alias="BookOrder" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.Sales" alias="Sales" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.SalesStatistics" alias="SalesStatistics" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.Rank" alias="Rank" />
		
		<!-- 거래처 -->
		<typeAlias type="com.erl.pageflow.sales.model.vo.Client" alias="Client" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.BookStore" alias="BookStore" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.Storage" alias="Storage" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.PrintOffice" alias="PrintOffice" />
		<typeAlias type="com.erl.pageflow.sales.model.vo.BookForSales" alias="BookForSales" />
		
		<!-- 물류관리 -->
		<typeAlias type="com.erl.pageflow.inventory.model.vo.Inventory" alias="Inventory" />
		<typeAlias type="com.erl.pageflow.refund.model.vo.Refund" alias="Refund" />
		<typeAlias type="com.erl.pageflow.store.model.vo.Store" alias="Store"/>
		
		<!-- 인쇄관리 -->
		<typeAlias type="com.erl.pageflow.printOrder.model.vo.PrintOrder" alias="PrintOrder" />
		<typeAlias type="com.erl.pageflow.printCalc.model.vo.PrintCalc" alias="PrintCalc" />
		
		<!-- 출판관리 -->
		<typeAlias type="com.erl.pageflow.book.model.vo.Book" alias="Book" />
		<typeAlias type="com.erl.pageflow.book.model.vo.BookWithStock" alias="BookWithStock" />
		<typeAlias type="com.erl.pageflow.contract.model.vo.Contract" alias="Contract" />
		<typeAlias type="com.erl.pageflow.edit.model.vo.Edit" alias="Edit" />
		<typeAlias type="com.erl.pageflow.writer.model.vo.Writer" alias="Writer" />
		
		<!-- 전자결재 -->
		<typeAlias type="com.erl.pageflow.approval.model.vo.Approval" alias="Approval" />
		<typeAlias type="com.erl.pageflow.approval.model.vo.Draft" alias="Draft" />
		<typeAlias type="com.erl.pageflow.common.ApprovalKeyword" alias="ApprovalKeyword" />
		
		<!-- 전자결재라인 -->
		<typeAlias type="com.erl.pageflow.approvalline.model.vo.ApprovalLine" alias="ApprovalLine" />
		<typeAlias type="com.erl.pageflow.approvalline.model.vo.ApprovalLineSave" alias="ApprovalLineSave" />
		<typeAlias type="com.erl.pageflow.common.ApprovalLineKeyword" alias="ApprovalLineKeyword" />
		
	</typeAliases>
	
	<mappers>
		<!-- 존재하지 않는 파일을 등록하면, 톰켓 구동 안 됨 -->
		<mapper resource="mappers/approvalline-mapper.xml" />
		<mapper resource="mappers/approval-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
		<mapper resource="mappers/reply-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/sales-mapper.xml" />
		<mapper resource="mappers/inventory-mapper.xml" />
		<mapper resource="mappers/refund-mapper.xml" />
		<mapper resource="mappers/store_mapper.xml" />
		<mapper resource="mappers/print-mapper.xml" />
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/publish-mapper.xml" />
		<mapper resource="mappers/popup-mapper.xml" />
	</mappers>
</configuration>